* {
	border: none;
	border-radius: 10px;
	font-family: "NotoSansM Nerd Font Mono" ;
	font-size: 17px;
	min-height: 10px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 2px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
        color: transparent;
	background: transparent;
}
#workspaces {
	margin-top: 6px;
	margin-left: 12px;
	font-size: 4px;
	margin-bottom: 0px;
	border-radius: 10px;
	background: #181825;
	transition: none;
}

#workspaces button {
	transition: none;
	color: #89dceb;
	background: transparent;
	font-size: 1;
	border-radius: 2px;
}

#workspaces button.occupied {
	transition: none;
	color: #a6e3a1;
	background: transparent;
	font-size: 4px;
}

#workspaces button.active {
	color: #94e2d5;
        border-top: 2px solid #89dceb;
        border-bottom: 2px solid #74c7ec;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #fab387;
	border-color: #eba0ac;
	color: #f5c2e7;
}

#workspaces button.active:hover {
    color: #f5c2e7;
}


#network {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 18px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #181825;
	background: #cba6f7;
}

#pulseaudio {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #181825;
	background: #f2cdcd;
}

#battery {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #181825;
	background: #94e2d5;
}

#battery.charging, #battery.plugged {
	color: #181825;
    background-color: #a6e3a1;
}

#battery.critical:not(.charging) {
    background-color: #f38ba8;
    color: #181825;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #f38ba8;
        color: #eba0ac;
    }
}

#backlight {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #181825;
	background: #fab387;
}
#clock {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #181825;
	background: #a6e3a1;
	/*background: #1A1826;*/
}

#memory {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #181825;
	background: #cba6f7;
}

#cpu {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #181825;
	background: #89dceb;
}

#tray {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #f5e0dc;
	background: #181825;
}

#custom-lyrics {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #181825;
	background: #89b4fa;
}


#custom-launcher {
	font-size: 24px;
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 10px;
	transition: none;
    color: #94e2d5;
    background: #181825;
}

#custom-power {
	font-size: 20px;
	margin-top: 6px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #181825;
	background: #f5c2e7;
}

#custom-wallpaper {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #181825;
	background: #74c7ec;
}

#custom-spotify {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #181825;
	background: #a6e3a1;
}